<p>
	&ldquo;I’m calling because our communities need you to stand with the president on the issue of net neutrality. A diverse and open Internet gives all individuals and businesses an equal chance online. It’s also fueling a new civil rights movement. Everyone who cares about justice and the power of self-determination should stand on the side of communities, not corporations, in the fight for an open Internet. Please support strong net neutrality rules under Title II of the Telecommunications Act.&rdquo;
</p>

<p>Please support the Federal Communications Commission in implementing strong net neutrality rules under Title II of the Telecommunications Act.</p>
