<p>
I’m calling because our communities need you to stand up for net neutrality. Net neutrality keeps the Internet diverse and open, and gives individuals and businesses an equal chance online. It’s also fueling a new civil rights movement, helping us to engage in a political process that has been historically exclusive. Everyone who cares about civil rights should fight for net neutrality.
</p>

<p>Please support the Federal Communications Commission in implementing strong net neutrality rules under Title II of the Telecommunications Act.</p>
