<div id="cta">
<p><b>
    Net neutrality is fueling a new Internet-powered civil rights movement. But the big phone and cable companies want to destroy net neutrality to increase their profits.
</b></p>

<p>
	Congressional Black Caucus members like Keith Ellison and Maxine Waters are fighting for net neutrality. But some CBC representatives are joining the telecom lobby in attacking net neutrality, even supporting Republican efforts to attack President Obama’s legacy and block the Federal Communications Commission from doing it’s job.
 </p>

<p>
	Meanwhile others have so far remained silent.
</p>

<p>
	Everyone who cares about civil rights and the power of self-determination should be fighting for net neutrality. Please take a moment to call members of the CBC who haven’t taken a position, and make sure they know it’s a critical civil rights issue.
</p>
</div>