<div id="cta">
<p><b>
    We just won a major net neutrality victory when the FCC voted for strong rules to protect the open Internet. But now, after taking huge donations from Comcast, AT&T, and Verizon, Republicans in Congress are working overtime to undermine net neutrality by attacking the FCC’s new rules.
</b></p>

<p>
	This week, they’re using committee hearings to attack the FCC and President Obama, using deceptive arguments and outright lies. Black members of Congress hold important positions on some of these committees, and they could defend the FCC and the President, and call out Republican lies about net neutrality. But some these representatives have opposed net neutrality, or remained silent.
 </p>

<p>
	Representatives Elijah Cummings, Lacy Clay, Danny Davis, Bobby Rush, G.K. Butterfield, and Yvette Clarke sit on the committees with net neutrality hearings this week. But each of them has either opposed strong net neutrality rules, or remained silent.
</p>

<p>
	They need to hear from you. Please take a moment to call them and tell them to stop this senseless Republican witch hunt against the FCC and President Obama.
</p>
</div>