<div id="cta">
<p><b>
    Net neutrality is fueling a new Internet-powered civil rights movement. And now &ndash; thanks to you &ndash; we’re so close to finally winning the fight to protect a free and open Internet! But we won’t get there if certain corporations get their way.
</b></p>

<p>
	Congressional Black Caucus members like John Lewis, Keith Ellison, Cory Booker and Maxine Waters are working hard to save our Internet. But unfortunately Comcast and Verizon are busy too: they’re rallying support from a few members of Congress in a last ditch effort to block Internet freedom. 
 </p>

<p>
	CBC Members Bobby Rush, G.K Butterfield, Gregory Meeks and Lacy Clay are among those standing in the way of real net neutrality protections, making every effort to block the Federal Communications Commission from doing it’s job. They need to hear from you- call them now and tell them to stop stalling Internet freedom.
</p>

<p>
	Everyone who cares about civil rights and the power of self-determination should be in this fight. Please take a couple of minutes to call these four members of the CBC, and make sure they know this is a critical issue that communities care about.
</p>
</div>